{% extends 'base.html' %}

{% block background %}
    <div class="wrapper background-radial-header">
{% endblock%}

{% block body_block %}
{% csrf_token %}
    {% if user.is_authenticated %}

	    <div>
			<iframe src="https://embed.chartio.com/d/97938/eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJleHAiOiAxNDcwNDk1Mjc5LCAianRpIjogIklRZ1dJQXh5QlJQaFV4TVFSdlBnZ0E9PSIsICJkYXNoYm9hcmQiOiA5NzkzOCwgImVudiI6IHsiQ0FMRU5EQVIiOiBbIjIwMTQtMDEtMDEiLCAiMjAxNi0wMy0zMSJdLCAiT0IyIjogIiIsICJPQiI6IFsiMSIsICIyIiwgIjMiLCAiNCIsICI1IiwgIjYiLCAiNyIsICI4IiwgIjkiLCAiMTAiLCAiMTEiXX0sICJvcmdhbml6YXRpb24iOiAyMDcxMywgImlhdCI6IDE0NzA0MDg4NzksICJuYmYiOiAxNDcwNDA4ODc5fQ.hqMe88JcqyMNcM-gYHEiddsK20FDWE7gCu4fz3gHJVw" frameborder="0" scrolling="no" onload="resizeIframe(this)" style="width: 100%;position:absolute;height:100%;">
						
			</iframe>
		</div>

	{% endif %}
{% endblock%}