{% extends 'base.html' %}

{% block background %}
    <div class="wrapper background-radial-header">
{% endblock%}

{% block body_block %}
    <div class="background-grey">
        <div class="row sticky-footer-cookies">
        	<div class="large-12 columns josefin-font">
				<hr>
				<h4>Privacy Statement: How we use Cookies</h4>
				<p>Cookies are very small text files that are stored on your computer when you visit some websites. </p>
				<p>We use cookies to help identify your computer so we can tailor your user experience and remember where you are in the online form process.</p>
				<p>You can disable any cookies already stored on your computer, but these may stop our website from functioning properly.</p>
				<p>The following is strictly necessary in the operation of our website.</p>

				<p>This Website will:</p>
				<ul>
					<li>Remember the data that you have submitted</li>
					<li>Remember where you are in the online form process</li>
					<li>The following are not Strictly Necessary, but are required to provide you with the best user experience and also to tell us which pages you find most interesting (anonymously).</li>
				</ul>
				<hr>
				<h5>Functional Cookies</h5>
				<p>This Website will:</p>
				<ul>
					<li>Track the pages you visit via Google Analytics</li>
					<li>Allow you to share pages with social networks such as Twitter and LinkedIn (if available)</li>
					<li>Keep your submission's data secure</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock%}